html, body {
    height:100%;
    padding: 0px;
    margin:0px;
    background: #404040;
}

.wrapper {
    height: 100%;
    perspective: 1000px;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 1;
    background: #ddd;
    padding: 10px;
    height: 100%;
    margin-left: 40px;
    overflow: auto;
    transition: transform 0.5s;
    transform-origin: right;
    transform-style: flat;
    transform: rotateY(0deg);

}

.container.perspective {
    transform: rotateY(-17deg);
}


/*---------------------*/

.left-block {
    height: 100%;
    width: 40px;
    background-color: #444;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.menu-block {
    position: absolute;
    left: 40px;
    top: 0px;
    width: 200px;
    height: 100%;
    background: #2879ee;
    overflow: auto;
    box-sizing: border-box;
    color: #fff;
    transform-origin: left;
    transform-style: flat;
    transition: 0.5s;
    transform: rotateY(142deg);
}

.menu-block.open {
    transform: rotateY(45deg);
}

.menu-btn {
    position: absolute;
    top: 50%;
    transform: rotateZ(90deg);
    color: #fff;
    text-transform: uppercase;
}

.menu a {
    display: block;
    color: #ffffff;
    padding: 5px 9px;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.menu a:hover{
    background: #54bfe6;
}

/*---------------------*/
.test-conteiner {
    /*height: 1000px;*/
    position: relative;
    color: #ffffff;
    padding: 10px;
    -moz-perspective: 500;
    -webkit-perspective: 500;
    perspective: 500;
    -moz-perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
.test-conteiner img {
    max-width: 100%;
}

.test-conteiner a {
    color: #ffffff;
    text-decoration: none;
}

.test-left, .test-right {
    padding: 50px;
    width: 300px;
    text-align: center;
    position: absolute;
    margin: 0px 10px;
}

.test-left {
    left: -20px;
    width: 600px;
    font-size: 120px;
    background-color: #26a3e6;
    -webkit-transform: rotateY(15deg) translateX(100px);
    transform: rotateY(15deg) translateX(100px);
}

.test-right {
    right: -20px;
    top: 350px;
    background-color: #e63547;
    -webkit-transform: rotateY(-15deg) translateX(-100px);
    transform: rotateY(-15deg) translateX(-100px);
}

pre {
    background-color: #333;
    color: #00ba14;
}

/*---------------------*/